<!--ユーザー詳細-->

<div class="user-info">
 <%= render 'users/info', user: @user %>
</div>


 <div class="new-book">
   <%= render 'books/form', book: @book %>
</div>

<div class="books">
<h1>Books</h1>
<% @books.each do |book| %>
    <%= attachment_image_tag book.user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg"%>
    <p>title: <%= link_to book.title, book_path(book.id) %></p>
    <p>body: <%= book.body %></p>
<% end %>
</div>

