<!--投稿一覧画面-->
<% if @book.errors.any? %>
  <%= @book.errors.count %>error prohibited this obj from being saved:
  <% @book.errors.full_messages.each do |message| %>
    <li>
    <%= message %>
    </li>
  <% end %>
<% end %>


<div class="user-info">
  <h2>User info</h2>
  <div class="user-info-image">
    <%= attachment_image_tag @book.user, :profile_image, :fill, 80, 80, fallback: "no_image.jpg"%>
  </div>
  <table class="table">
    <tr>
      <th>name</th><th><%= @book.user.name %></th>
    </tr>
    <tr>
      <th>introduction</th> <th><%= @book.user.introduction %> </th>
    </tr>
  </table>
  <%= link_to edit_user_path(@book.user) do %>
    <button type="button" class="btn btn-outline-secondary btn-block "><i class="fas fa-user-cog"></i></button>
  <% end %>
</div>

<div class="new-book">
  <%= render 'books/form', book: @book %>
</div>

<div class="books">
<h1>Books</h1>
<% @books.each do |book| %>
    <%= attachment_image_tag book.user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg"%>
    <p>Title: <%= link_to book.title, book_path(book.id) %></p>
    <p>Opinion: <%= book.body %></p>
<% end %>
</div>

