<!--投稿一覧画面-->
<% if @book.errors.any? %>
  <%= @book.errors.count %>error prohibited this obj from being saved:
  <% @book.errors.full_messages.each do |message| %>
    <li>
    <%= message %>
    </li>
  <% end %>
<% end %>

<div class=container>
  <div class="row">
    <div class="col-lg-4">
      <div class="user-info">
        <h2>User info</h2>
        <div class="user-info-image">
          <%= link_to user_path(current_user.id) do %>
            <%= attachment_image_tag @book.user, :profile_image, :fill, 80, 80, fallback: "no_image.jpg"%>
          <% end %>
        </div>
        <table class="table">
          <tr>
            <th>name</th><th><%= @book.user.name %></th>
          </tr>
          <tr>
            <th>introduction</th> <th><%= @book.user.introduction %> </th>
          </tr>
        </table>
        <%= link_to edit_user_path(@book.user) do %>
          <button type="button" class="btn btn-outline-secondary btn-block btn-sm mt-5"><i class="fas fa-user-cog"></i></button>
        <% end %>
      </div>
      <div class="new-book">
        <%= render 'books/form', book: @book %>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="books">
      <h1>Books</h1>
      <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>Title</th>
              <th>Opinion</th>
            </tr>
          </thead>
          <tbody>
            <% @books.each do |book| %>
            <tr>
              <td>
                <%= link_to user_path(book.user) do %>
                  <%= attachment_image_tag book.user, :profile_image, size: "40x40", fallback: "no_image.jpg"%>
                <% end %>
              </td>
              <td><%= link_to book.title, book_path(book.id) %></td>
              <td><%= book.body %><</td>
            <% end %>
            </tr>
         </tbody>
      </table>
      </div>
    </div>
  </div>
</div>

<div class="col-md-8 offset-md-1">