<!--投稿詳細画面-->
<div class=container>
  <div class="row">
    <div class="col-lg-4">
      <div class="user-info">
        <h2>User info</h2>
        <div class="user-info-image">
          <%= attachment_image_tag @book.user, :profile_image, :fill, 80, 80, fallback: "no_image.jpg"%>
        </div>
        <table class="table">
          <tr>
            <th>name</th><th><%= @book.user.name %></th>
          </tr>
          <tr>
            <th>introduction</th> <th><%= @book.user.introduction %></th>
          </tr>
          </table>
          <%= link_to edit_user_path(@book.user) do %>
            <button type="button" class="btn btn-outline-secondary btn-block btn-sm mt-5 "><i class="fas fa-user-cog"></i></button>
          <% end %>
        </div>
        <div class="new-book">
          <%= render 'books/form', book: @book_new %>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="book-detail">
        <h1>Book detail</h1>
        <table class="table">
          <thead>
            <tr>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <%= link_to user_path(@book.user.id) do %>
                <%= attachment_image_tag @book.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
                <% end %>
              </td>
              <td><%= link_to @book.title, book_path(@book.id) %></td>
              <td><%= @book.body %></td>
              <% if @book.user_id == current_user.id %>
              <td><%= link_to "Edit", edit_book_path(@book.id), class: 'btn btn-success' %></td>
              <td><%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか?", class: 'btn btn-danger' %></td>
            <% end %>
            </tr>
          </tbody>
        </table>
        </div>
        <span class="ml-3"><%= link_to @book.user.name, user_path(@book.user.id) %></span>
     </div>
  </div>
</div>