<!--投稿詳細画面-->
<div class="user-info">
  <h2>User info</h2>
  <div class="user-info-image">
  <%= attachment_image_tag @book.user, :profile_image, :fill, 80, 80, fallback: "no_image.jpg"%>
  </div>
  <table class="table">
  <tr>
    <th>name</th><th><%= @book.user.name %></th>
  </tr>
  <tr>
    <th>introduction</th> <th><%= @book.user.introduction %></th>
  </tr>
  </table>
  <%= link_to edit_user_path(@book.user) do %>
    <button type="button" class="btn btn-outline-secondary btn-block "><i class="fas fa-user-cog"></i></button>
  <% end %>
  <p><%= link_to "profile Edit", edit_user_path(@book.user) %></p>
</div>


<div class="new-book">
<%= render 'books/form', book: @book_new %>
</div>

<div class="book-detail">
<h1>Book detail</h1>
  <%= attachment_image_tag @book.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>
  <%= link_to @book.user.name, user_path(@book.user.id) %>
  <%=link_to @book.title, book_path(@book.id) %> <%= @book.body %>
</div>

<% if @book.user_id == current_user.id %>
  <%= link_to "Edit", edit_book_path(@book.id) %>
  <%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか?" %>
<% end %>