<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
     <div style="font-size: 20px;"><a  href="/" class=" text-white" >Bookers</a></div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
             <% if user_signed_in? %>
              <li class="nav-item">
                 <%= link_to user_path(current_user.id), class: ' text-white' do %>
                   <i class="fas fa-home"> Home</i>
                 <% end %>
              </li>
              <li class="nav-item">
                <a href="/users" class="text-decoration:none text-white"><i class="fas fa-users"></i> Users<a>
              </li>
              <li class="nav-item">
               <a href="/books" class=" text-white"><i class="fas fa-book-open"></i> Books<a>
              </li>
              <li class="nav-item">
                <%= link_to destroy_user_session_path, method: :delete, class: ' text-white' do %>
                <i class="fas fa-sign-in-alt"> logout</i>
                <% end %>
              </li>
            <% else %>
              <li class="nav-item">
                <a href="/" class="nav-link text-white"><i class="fas fa-home"></i> Home<a>
              </li>
              <li class="nav-item">
                <a href="/about" class="nav-link text-white"><i class="fas fa-link"></i> About<a>
              </li>
              <li class="nav-item">
                <a href="/users/sign_up" class="nav-link text-white"><i class="fas fa-user-plus"></i> sign up<a>
              </li>
              <li class="nav-item">
                <a href="/users/sign_in" class="nav-link text-white"><i class="fas fa-sign-in-alt"></i> login<a>
              </li>
            <% end %>
            </ul>
        </div>
      </div>
    </nav>
  </header>

  <body>
    <%= render 'layouts/notification' %>
    <%= yield %>
  </body>

  <footer>
    <div class="container text-center">
      <p>CopyRight Infratop.inc</p>
    </div>
  </footer>
</html>
